$base:black;
$blue:rgb(0, 174, 255);
$baseText:white;
.box{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.bigfont{
    font-size:20px;
    font-weight: bold;
    color: $baseText;
}
.smallfont{
    font-size:15px;
    color: gray;
}
.link{
    color: $blue;
    text-align: left;
    margin-top: 10px;
}
.link:hover{
    text-decoration: underline;
}
.PlaceHolder{
    color: gray;
    position:absolute;
    top: 20px;
    left: 5px;
    height: 0px;
    display: inline;
    font-size: large;
    text-overflow: ellipsis; 
}
.PlaceHolderFocus{
    top: 0px;
    left: 5px;
    font-size: small;
    color: $blue;
    transition: 200ms;
}

.field{
    height: 60px;
    width: 99%;
    border: 1px grey solid;
    background-color: $base;
    border-radius: 5px;
    color: $baseText;
}
.field:focus{
    border: 1px $blue solid;
}
.stayup{
    top: 0px;
    left: 5px;
    font-size: small;
}
.bottom{
    margin-bottom: 75px;
}
.signupButton{
    background-color: $blue;
    color: $baseText;
}
.signupButton:hover{
    background-color:rgb(0, 174, 255,0.9);
}
.buttonfont{
    font-size: medium;
    font-weight: bold;
}
.nav-but{
    min-width: calc(77.28px);
    width: 100%;
    height: 50px;
    border: 1px $blue solid;
    border-radius: 30px;
    margin-bottom: 15px;
}
