<p class="bigfont">You'll need a password</p>
<p class="smallfont">Make sure it’s 8 characters or more.</p>
<div class="box" [formGroup]="staticformGroup">
    <input type="password" class="field" id="pass" formControlName="password">
    <span class="PlaceHolder" id="passwordPlaceHolder">Password</span>
    <small *ngIf="staticformGroup.controls['password'].touched && staticformGroup.controls['password'].invalid" class="text-danger">invalid value</small>
</div>
<a class="link" (click)="toggle()"> Reveal password</a>