<!-- <div class="rightsidebaroverall">
    <div><input type="text"></div>
</div> -->

<div class="rightsideoverall">

    <div class="inputsection flex">
        <div class="fasearch"><i class="fa fa-search" aria-hidden="true"></i></div>
       <div class="wid-100"><input type="text" placeholder="Search twitter" value=""/></div>
    </div>

    <div class="whatshappening wid-100">
        <h2 class="marbottom10 marleft10">What’s happening</h2>
        <div class="innerwh">
            <div class="flex">
                <div class="marright10">
                    <div class="font15">Assembly Elections 2021·Yesterday</div> 
                <div class="martop10 fontweight600">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://pbs.twimg.com/semantic_core_img/1379748643100532744/BY86WxMW?format=jpg&name=360x360">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex">
                <div class="marright6" >
                    <div  class="font15" >Assembly Elections 2021·Yesterday</div> 
                <div class="martop10 fontweight600" >
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex spacebetween">
                <div class="marright6" >
                <div class="font15" >Assembly Elections 2021·Yesterday</div> 
                <div class="martop10 fontweight600" >
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="whatshappening wid-100">
        <h2 class="marleft10 marbottom10">Who to follow</h2>
        <div class="innerwh">
            <div class="flex">
                <div class="marright6" >
                    <div class="font15"  >Assembly Elections 2021·Yesterday</div> 
                <div class="martop10 fontweight600" >
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex">
                <div class="marright6" >
                    <div class="font15"  >Assembly Elections 2021·Yesterday</div> 
                <div class="martop10 fontweight600" >
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex spacebetween">
                <div class="marright6">
                <div class="font15"  >Assembly Elections 2021·Yesterday</div> 
                <div class="martop10 fontweight600" >
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>


    <div class="whatshappening wid-100">
        <h2 class="marbottom10 marleft10" >Topics to folow</h2>
        <div class="innerwh">
            <div class="flex ">
                <div class="marright6">
                    <div>Science</div> 
                <div class="martop10 fontweight600" >
                    All about science
                </div>
                </div>
                <div class="flex btn1" >
                <div class="btn2" >
                    <button>Follow</button>
                </div>
                <div class="martop10" ><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex ">
                <div class="marright6" >
                    <div>Science</div> 
                <div class="martop10 fontweight600" >
                    All about science
                </div>
                </div>
                <div class="flex btn1" >
                <div class="btn2">
                    <button>Follow</button>
                </div>
                <div class="martop10" ><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex ">
                <div class="marright6" >
                    <div>Science</div> 
                <div class="martop10 fontweight600">
                    All about science
                </div>
                </div>
                <div class="flex btn1">
                <div class="btn2" >
                    <button>Follow</button>
                </div>
                <div class="martop10"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            </div>

        </div>
    </div>
</div>

