<!-- <div class="rightsidebaroverall">
    <div><input type="text"></div>
</div> -->

<div class="rightsideoverall">

    <div class="inputsection">
       <input type="text" placeholder="Search twitter" value=""/>
    </div>

    <div class="whatshappening wid-100">
        <h2 style="margin-left: 10px;margin-bottom: 10px;">What’s happening</h2>
        <div class="innerwh">
            <div class="flex">
                <div style="margin-right: 10px;" >
                    <div  style="font-size: 15px">Assembly Elections 2021·Yesterday</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://pbs.twimg.com/semantic_core_img/1379748643100532744/BY86WxMW?format=jpg&name=360x360">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex">
                <div style="margin-right: 6px;">
                    <div  style="font-size: 15px">Assembly Elections 2021·Yesterday</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex spacebetween">
                <div style="margin-right: 6px;">
                <div  style="font-size: 15px">Assembly Elections 2021·Yesterday</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="whatshappening wid-100">
        <h2 style="margin-left: 10px;margin-bottom: 10px;">Who to follow</h2>
        <div class="innerwh">
            <div class="flex">
                <div style="margin-right: 6px;">
                    <div  style="font-size: 15px">Assembly Elections 2021·Yesterday</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex">
                <div style="margin-right: 6px;">
                    <div  style="font-size: 15px;">Assembly Elections 2021·Yesterday</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg">
                </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex spacebetween">
                <div style="margin-right: 6px;">
                <div  style="font-size: 15px">Assembly Elections 2021·Yesterday</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    Actor Vijay's team clarifies after his cycle ride to polling booth sparks speculation
                </div>
                </div>
                <div class="rightsideimg">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>


    <div class="whatshappening wid-100">
        <h2 style="margin-left: 10px;margin-bottom: 10px;">Topics to folow</h2>
        <div class="innerwh">
            <div class="flex ">
                <div style="margin-right: 6px;">
                    <div>Science</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    All about science
                </div>
                </div>
                <div class="flex " style="margin-left: 30%;">
                <div class="" style="margin-right: 35%;">
                    <button>Follow</button>
                </div>
                <div style="margin-top: 10px;"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex ">
                <div style="margin-right: 6px;">
                    <div>Science</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    All about science
                </div>
                </div>
                <div class="flex " style="margin-left: 30%;">
                <div class="" style="margin-right: 35%;">
                    <button>Follow</button>
                </div>
                <div style="margin-top: 10px;"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            </div>

        </div>


        <div class="innerwh">
            <div class="flex ">
                <div style="margin-right: 6px;">
                    <div>Science</div> 
                <div style="font-weight: 600;margin-top: 10px;">
                    All about science
                </div>
                </div>
                <div class="flex " style="margin-left: 30%;">
                <div class="" style="margin-right: 35%;">
                    <button>Follow</button>
                </div>
                <div style="margin-top: 10px;"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            </div>

        </div>
    </div>
</div>

