<div class="trendingmainoverall middleoverall" >
<div class="searchtab">
    <div class="flex spacebetween ">
        <div class="inputsection martop10">
            <input type="text" placeholder="Search twitter" value=""/>
         </div>
        <div class="cog"><i class="fa fa-cog" aria-hidden="true"></i></div>
    </div>


    <div class="flex tabs spacebetween">
        <div class="tabitems active">For You</div>
        <div class="tabitems" >Covid-19</div>
        
        <div class="tabitems" >Trending</div>
        <div class="tabitems" >News</div>
        <div class="tabitems" >Sports</div>

        <div class="tabitems" >Entertainment</div>

    </div>

</div>



<div class="innermaindiv borderone"  *ngFor="let list of trends;index as i">
    <div>
    <div class="flex spacebetween" >
        <div class="flex flex-column marleft20">
            <div class="martop10">
                Trending in India</div>
            <div class="martop6" >{{list.name}}</div>
            <div class="marbottom10 martop6" *ngIf="list.tweet_volume">
                {{list.tweet_volume}} tweets</div>

        </div>
        <div class="martop6 marright20 " ><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>

    </div>

</div>
</div>
</div>
