<div class="trendingmainoverall middleoverall" >
<div class="searchtab">
    <div class="flex" style="justify-content: space-between;">
        <div class="inputsection">
            <input type="text" placeholder="Search twitter" value=""/>
         </div>
        <div class="cog"><i class="fa fa-cog" aria-hidden="true"></i></div>
    </div>


    <div class="flex tabs">
        <div class="tabitems active" style="border-bottom:2px solid rgb(29, 161, 242)">For You</div>
        <div class="tabitems" >Covid-19</div>
        
        <div class="tabitems" >Trending</div>
        <div class="tabitems" >News</div>
        <div class="tabitems" >Sports</div>

        <div class="tabitems" >Entertainment</div>

    </div>

</div>



<div class="innermaindiv" style="border-bottom: 1px solid rgb(235, 238, 240);" *ngFor="let list of trends;index as i">

    <div class="flex" style="justify-content: space-between;" >
        <div class="flex flex-column" style="margin-left: 20px;">
            <div style="margin-top: 10px;">
                Trending in India</div>
            <div style="margin-top: 6px;">{{list.name}}</div>
            <div style="margin-top: 6px;margin-bottom: 10px;">
                {{list.tweet_volume}} tweets</div>

        </div>
        <div style="margin-top: 6px;margin-right: 20px;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>

    </div>


</div>
</div>
