input {
    border-radius: 26px;
    height: 14px;
    background-color: rgb(235, 238, 240);
    color: white;
    border: #a3acb2;
    width: 100%;
    padding: 12px;
}
.inputsection {
    width: 464px;
    margin-left: 15px;
}
.tabitems {
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    color:#5b7083;
    font-weight: 600;
}
.active {
    color: rgb(29, 161, 242);
    border-bottom:2px solid rgb(29, 161, 242)
}
.tabitems:hover {
    color: rgb(29, 161, 242);
    background-color: rgb(29, 161, 242,0.1);
}
.tabs {
    justify-content: space-between;
    margin: 12px;
    overflow-x: scroll;
}
.cog {
    margin-top: 10px;
        margin-right: 10px;
        font-size: 23px;
}
.borderone {
    border-bottom: 1px solid rgb(235, 238, 240);
}