<div class="first">
    <div class="css">

        <div class="icon">
            <i class="fa fa-twitter fa-3" aria-hidden="true"></i>
        </div>
    
        <div class="heading css1">
           <h1>Log in to Twitter</h1> 
        </div>

        <form [formGroup]="demoForm">

        <div class="input">  
            <div class="input-field">
                <input type="text" placeholder="Phone,email, or username" formControlName="user">
                <small *ngIf="demoForm.controls['user'].touched && demoForm.controls['user'].invalid" class="text-danger">invalid value</small>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" formControlName="pass">
                <small *ngIf="demoForm.controls['pass'].touched && demoForm.controls['pass'].invalid" class="text-danger">invalid value</small>
            </div>
        </div>

        <div class="button">
            <div class="button1" (click)="login()">Log in</div>
        </div>

    </form>

        <div class="footer">
            <div class="footer1">
                <span>Forgot password?</span>
                <span>&nbsp;.&nbsp;</span>
                <span>Sign up for Twitter</span>
            </div>
        </div>

    </div>
</div>

<app-middlesection [username]="username" *n></app-middlesection>