<div class="messagesection">
<app-leftsidebar></app-leftsidebar>
<div class="messagesmiddlesection">

<div class="vertical"></div>

<div class="border0 marbottom10 martop10 padbottom10" >
    <div class="flex spacebetween font20">
        <div class="marleft10 pad10 font800" >Messages</div>
        <div class="flex pad10" >
            <div><i class="fa fa-cog marright10 blue" aria-hidden="true"></i></div>
            <div><i class="fa fa-envelope-o marright10 blue" aria-hidden="true"></i></div>
        </div>
    </div>
</div>

<!-- search tab -->


    <div class="inputsection flex border0" >
        <div class="fasearch"><i class="fa fa-search" aria-hidden="true"></i></div>
       <div class="borderbox wid-100"><input type="text" placeholder="Search for people and groups" value=""/></div>
    </div>


<!-- send a message section -->

<div class="mesthird" >
    <div><h3>Send a message, get a message</h3></div>
    <div class="gray linehei"><p>Direct Messages are private conversations between you and other people on Twitter. Share Tweets, media, and more!</p></div>
    <div class="gray"><button >Start a conversation</button></div>
</div>
</div>





<!-- rightsection -->

<div class="outer-container mobdisplay">
    

<div class="vertical"></div>
    <div class="inner-container">
        <div class="centered-content marright10">
        <div><h3>You don’t have a message selected</h3></div>
        <div><p>Choose one from your existing messages, or start a new one.</p></div>
        <div><button >New Message</button></div>
    </div>
    </div>

 <div class="verticalright"></div>
</div>





</div>