<p class="bigfont">Customize your experience</p>
<br><br><br>
<div>
    <span class="bigfont">Track where you see Twitter content across the web
    </span><br><br>
    <div class="track">
        <span class="smallfont">Twitter uses this data to personalize your experience. This web browsing history will
            never be stored with your name, email, or phone number.</span>
        <input type="checkbox">
    </div>
    <p class="smallfont">For more details about these settings, visit the <a class="link">Help Center.</a></p>
</div>