<div class="overallsection">
    <app-leftsidebar></app-leftsidebar>
<div class="parent"> 

    <div class="first spacebetween marleft10 marright10">

        <div class="note">Notifications</div>
        <div class="icon">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        
    </div> 

    <div class="second" style="justify-content: space-around;">
        <div class="all">All</div>
        <div class="mentions">Mentions</div>
    </div>

    <div class="third">
        <div class="icon2">
            <i class="fa fa-twitter fa-3" aria-hidden="true"></i>
        </div>
        <div class="letter">
            There was a login to your account @Fareed78988492 from a new device on Apr 11, 2021. Review it now.
        </div>
    </div>

    <div class="third">
        <div class="icon2">
            <i class="fa fa-twitter fa-3" aria-hidden="true"></i>
        </div>
        <div class="letter">
            There was a login to your account @Fareed78988492 from a new device on Apr 09, 2021. Review it now.
        </div>
    </div>

</div>

<app-rightsidebar></app-rightsidebar>
</div>