<p class="bigfont">Create your account</p>
<form class="form">
    <!-- [formGroup]="registerForm" -->
    <div class="box">
        <input type="text" id="uname" class="field" formControlName="name">
        <span class="PlaceHolder" id="namePlaceHolder">Name</span>
    </div>
    <div class="box">
        <input type="mailOrNum" id="mailOrNum" class="field" formControlName="email">
        <span class="PlaceHolder" id="mailPlaceHolder">Phone</span>
    </div>
    <div class="link box">
        <span role="button" id="swapper" (click)="swap()">Use email instead</span>
    </div>
    <div>
        <span class="bigfont">Date of birth</span><br>
        <span class="smallfont">This will not be shown publicly. Confirm your own age, even if this account
            is for a business, a
            pet, or something else.</span>

        <div class="DOB">
            <div class="box">
                <div class="dropDown month">
                    <select class="months">
                        <option disabled="" value=""></option>
                        <option name="January" value="Jan">January</option>
                        <option name="February" value="Feb">February</option>
                        <option name="March" value="Mar">March</option>
                        <option name="April" value="Apr">April</option>
                        <option name="May" value="May">May</option>
                        <option name="June" value="Jun">June</option>
                        <option name="July" value="Jul">July</option>
                        <option name="August" value="Aug">August</option>
                        <option name="September" value="Sep">September</option>
                        <option name="October" value="Oct">October</option>
                        <option name="November" value="Nov">November</option>
                        <option name="December" value="Dec">December</option>
                    </select>
                </div>
                <span class="stayup" id="monthPlaceHolder">Month</span>
            </div>

            <div class="box">
                <div class="dropDown day">
                    <select id="day" class="days">

                    </select>
                </div>
                <span class="stayup" id="dayPlaceHolder">Day</span>
            </div>

            <div class="box">
                <div class="dropDown year">
                    <select id="year" class="years">

                    </select>
                </div>
                <span class="stayup" id="yearPlaceHolder">year</span>
            </div>
        </div>
    </div>
    <div>

    </div>
</form>