$border:rgb(226, 226, 226);
.bordered{
    border-top: 1px $border solid;
    border-left: 1px $border solid;
    border-right: 1px $border solid;
   // border: 1px rgb(189, 187, 187) solid;
   margin: 0px;
}
.borderbottom {
    border-bottom: 1px $border solid;
}
.gap {
    background-color: rgb(247, 249, 250);
    height: 12px;
}
button {
    border: 1px solid rgb(29, 161, 242);
    background: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    width: 100%;
    font-weight: 600;
    color: rgb(29, 161, 242);
    height: 32px;
}
.newer {
    text-align: center;padding-top: 40px;padding-bottom: 40px;
}
.imgimg {
    width:48px;height:48px;border-radius: 20%;
}
