<div class="overallsection">
<app-leftsidebar></app-leftsidebar>
<div class="listmiddle bordered">
<div>
    <div class="listheader flex spacebetween  martop10 borderbottom padbottom10" >
        <div class="flex marleft20">
        <div class="iconleft marright20">
            <i class="fa fa-arrow-left martop10 marright20 blue" aria-hidden="true"></i>
        </div>
        <div class="flex flex-column">
            <div class="font20 fontweight600" >Lists</div>
            <div class="font13" >@Fareed78988492</div>
        </div>
        </div>
        <div class="flex marright20 martop10">
            <div class="marright20"><i class="fa fa-list-alt font20 blue" aria-hidden="true"></i></div>
            <div><i class="fa fa-ellipsis-h font20 blue" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="pinnedlist  borderbottom" >
        <h3 class="marleft20">Pinned Lists</h3>
    </div>
    <div class="pintext borderbottom newer" >
        Nothing to see here yet — pin your favorite Lists to access them quickly.
    </div>
    <div class="gap">

    </div>
<div>
    <div class="pinnedlist  borderbottom" >
        <h3 class="marleft20">Discover new Lists</h3>
    </div>
    <div class="">
        <div class="flex spacebetween borderbottom martop10 padbottom10" >
            <div class="flex spacebetween">
            <div class="marright20 marleft20"><img src="https://pbs.twimg.com/list_banner_img/1348624761023127554/H1DA1Jzz?format=jpg&name=360x360" class="imgimg"></div>

            <div class="flex flex-column martop5 fontweight600">
                <div class="font15">Tamil cine world</div>
                <div class="font13" >Lollubee</div>
            </div>
        </div>
        <div class="marright20 fontweight600 martop5">
            <button>Follow</button>
        </div>
        </div>



        <div class="flex spacebetween borderbottom martop10 padbottom10">
            <div class="flex spacebetween">
            <div class="marright20 marleft20"><img src="https://pbs.twimg.com/list_banner_img/1348624761023127554/H1DA1Jzz?format=jpg&name=360x360" class="imgimg"></div>

            <div class="flex flex-column martop5 fontweight600">
                <div class="font15">Tamil cine world</div>
                <div class="font13" >Lollubee</div>
            </div>
        </div>
        <div class="marright20 fontweight600 martop5">
            <button>Follow</button>
        </div>
        </div>



        <div class="flex spacebetween borderbottom martop10 padbottom10">
            <div class="flex spacebetween">
            <div class="marright20 marleft20"><img src="https://pbs.twimg.com/list_banner_img/1348624761023127554/H1DA1Jzz?format=jpg&name=360x360" class="imgimg" ></div>

            <div class="flex flex-column martop5 fontweight600">
                <div class="font15">Tamil cine world</div>
                <div style="font-size:13px">Lollubee</div>
            </div>
        </div>
        <div class="marright20 fontweight600 martop5">
            <button>Follow</button>
        </div>
        </div>


    </div>


    <div class="pinnedlist  borderbottom" >
        <div class="marleft10 martop10 marbottom10 font15" >Show more</div>
    </div>


</div>


<div class="gap">

</div>

<div>
    <div class="pinnedlist  borderbottom" >
        <h3 class="marleft20">Your Lists</h3>
    </div>
    <div class="pintext borderbottom newer" >
        You haven't created or followed any Lists. When you do, they'll show up here.
    </div>
</div>
</div>
</div>
<app-rightsidebar></app-rightsidebar>
</div>