<div class="leftsideoverall">
<div class="flex marleft20 marright20 pad18" >
<div class="leftsideimage navactive font36">
<i class="fa fa-twitter" aria-hidden="true" ></i>
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage navactive">
<i class="fa fa-home" aria-hidden="true"></i>
</div>
<div class="leftsidetext navactive blue">
<a [routerLink] = "['/dashboard']" class="blue"> 
Home
</a>
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-hashtag" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
<a [routerLink] = "['/trending']"> 
Explore
</a>
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-bell-o" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
<a [routerLink]="['/notifications']">
Notifications
</a>
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-envelope-o" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
<a [routerLink]="['/messages']">
Messages
</a>
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-bookmark-o" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
<a [routerLink]="['/bookmark']">
Bookmarks
</a>
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
Lists
</div>
</div>

<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-user" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
    <a [routerLink] = "['/profile']" class="blue"> 
Profile
</a>
</div>
</div>


<div class="flex leftsection">
<div class="leftsideimage">
<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
</div>
<div class="leftsidetext">
More
</div>
</div> 



<div class="flex leftsection">
   <button class="leftbutton">Tweet</button>
    </div>  


</div>


<div class="flex bottom loginenter">
<div class="marright16" >
    <img src="https://pbs.twimg.com/profile_images/1281402055202967552/Hog0lopN_x96.jpg" class="size40">
</div>
<div class="flex flex-column  marright16 tabdisplay" >
    <div>{{username}}</div>
    <div>@{{username}}</div>
</div>
<div class="tabdisplay">
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
</div>




