<div class="overallsection">
<app-leftsidebar></app-leftsidebar>

<div class="bookmarkmiddle">
<div class="bordered fullHeight">
    <div class="middleuppersection">
        <span class="heading">Bookmarks</span>
        <br>
        <span class="lightfont">{{username}}</span>
        <br>
    </div>
    <div class="book-body">
        <div class="no-post">
            <span class="bigfont"> You haven’t added any Tweets to your Bookmarks yet </span>
            <br><br>
            <span class="lightfont"> When you do, they’ll show up here.</span>
        </div>
        <div class="posts">
            
        </div>
    </div>
</div>
</div>


<app-rightsidebar></app-rightsidebar>

</div>
