.overallmain 
{
    border-left:1px solid rgb(235, 238, 240);
    border-right:1px solid rgb(235, 238, 240)
}
button {
    border: 1px solid rgb(29, 161, 242);
    background: transparent;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;;
    border-radius: 20px;
    width: 100%;
    font-weight: 600;
    color: rgb(29, 161, 242);
    height: 40px;
}
.textbold {
    font-weight: 600;
}
.innermiddle {
    justify-content: space-between;
    border-bottom:1px solid rgb(235, 238, 240) ;
}
.imgleft img {
    width: 48px;
    border-radius: 50%;
    height: 48px;
    margin-right: 12px;;
}
.paddingleft16 {
    padding-left: 16px;
}
.paddingright16 {
    padding-right: 16px;
}
.middlesections {
    margin-top: 10px;
    margin-bottom: 10px;
}
.postdescription {
    line-height: 1.6em;
    padding-top: 10px;
}
.postdescription img {
    width: 100%;
    display: inline-block;
}
.middle1 {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
}
.topicheading {
    font-weight: 600;
}
.pad10 {
    padding: 10px;
}
.postimg {
    margin-top: 10px;
}
.inlineblock {

    width: 100%;
    display: inline-block;
}
.postimg img ,.postimg iframe{
    border-radius: 6%;
}
.green {
    color: rgb(23, 191, 99);
}
.red {
    color: #E0245E;
}
.tweetbtn {
    padding:10px;
    border-radius: 999px;
    background: #1DA1F2;
    color: white;
    font-weight: 600;
    border: transparent;
    margin-right: 20px;
}
.border0 {
    
    border-bottom: 1px solid rgb(235, 238, 240);
    padding-bottom:10px;
}
.height53 {
    height: 53px;
}
.innerprofile {
    font-size: 15px;
align-self: center;
margin-right: 30px;
margin-left: 20px;
}
.martop-10 {
    margin-top: -10%;
}
.profileimg {
    width: 140px; position: relative;height: 140px;
}
.profileimg img {
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    border: 4px solid white;
}
.bg-gray {
    background: rgb(196, 207, 214);
height: 200px;
}
.textprofile {
    margin-left: -2px;color: rgb(91, 112, 131)
}