<div class="middleoverall">
    <div class="middleuppersection">
        <div class="flex innermiddle pad20">
        <div class="textbold font20">Home</div>
        <div><i class="fa fa-star" aria-hidden="true"></i></div>
    </div>
    <div class="flex spacebetween border0 mobdisplay">
        <div class="imgleft flex marleft20 martop10">
            <img src="https://pbs.twimg.com/profile_images/1281402055202967552/Hog0lopN_x96.jpg">
        <div class="flex flex-column marleft20">
            <div class="martop10">
            <div class="middletext">What's Happening?</div>
            </div>
        <div class="flex martop20 spacebetween blue">
            <div><i class="fa fa-picture-o" aria-hidden="true"></i></div>
            <div><i class="fa fa-smile-o" aria-hidden="true"></i></div>
            <div><i class="fa fa-calendar" aria-hidden="true"></i></div>

            <div><i class="fa fa-smile-o" aria-hidden="true"></i></div>
            <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
        </div>
        </div>
    </div>
        <div class="marleft20 btnbtn" ><button class="tweetbtn">Tweet</button></div>
    </div>


    </div>
    <div class="gap">

    </div>

<div class="middle1" *ngFor="let list of dataa;index as i" >

    <div class="middlesections">
    <div class=" flex">
        <div>
        <div class="imgleft"><img src={{list.user.profile_image_url}}></div>

    </div>
    <div class="flex spacebetween wid-100">
        <div class="flex flex-column">
        <div class="flex">
        <div class="marright6 topicheading" >{{list.user.name}}.</div>
        <div class="marright6 martop5" >@{{list.user.screen_name}}</div>
        <div class="marright6 martop5" >{{list.created_at | date:'MMM d'}}</div>

    </div>
        <div class="postdescription">
            <div>{{list.full_text}}
            </div>
            <div class="postimg" *ngIf="list.entities.media"><img src={{list.entities.media[0].media_url}}></div>
            
        </div>
        <div class="flex spacebetween pad10">
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </div>

                <div> 
                    
                </div>
            </div>
            
            <div class="flex">
            
                <div class="marright6" [class.green]="list.retweeted">
                    <i class="fa fa-retweet" aria-hidden="true"></i>

                </div>
                <div [class.green]="list.retweeted"> 
                    {{list.retweet_count}}

                </div>
            </div>
            
            <div class="flex">
                
            <div class="marright6" [class.red]="list.favorited">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
                <div [class.red]="list.favorited"> 
                    {{list.favorite_count}}

                </div>
            </div>
            
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </div>
                <div> 

                </div>
            </div>
            </div>
        </div>

        <div><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
    </div>
</div>
</div>
</div>
</div>