<div class="middleoverall">
    <div class="middleuppersection">
        <div class="flex innermiddle" style="padding:20px">
        <div class="textbold" style="font-size: 20px;">Home</div>
        <div><i class="fa fa-star" aria-hidden="true"></i></div>
    </div>
    </div>
    <!-- <div class="middle1">

    <div class="middlesections">
    <div class="flex">
        <div>
        <div class="imgleft"><img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg"></div>

    </div>
    <div class="flex spacebetween wid-100">
        <div class="flex flex-column">
        <div class="flex">
        <div class="marright6 topicheading">India Today</div>
        <div>@Indiatoday</div>

    </div>
        <div class="postdescription">
            <div>BJP has already lost the election both mentally and physically as it appears from the words of PM Modi", says TMC's Sukhendu Sekhar Roy to 
            @prema_rajaram
             
            
            #WestBengalElections #TMC #BJP #PMModi #ReporterDiary 
            
            More Videos: http://bit.ly/IndiaTodaySocial
            </div>
            <div class="postimg"><img src="https://s3-ap-southeast-1.amazonaws.com/engpeepingmoon/041019031925bahubali.jpg" class="inlineblock"></div>
        </div>
        <div class="flex spacebetween pad10">
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
            
                <div class="marright6">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
                
            <div class="marright6">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            </div>
        </div>

        <div><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
    </div>
</div>
</div>
</div>
<div class="middle1">

    <div class="middlesections">
    <div class=" flex">
        <div>
        <div class="imgleft"><img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg"></div>

    </div>
    <div class="flex spacebetween wid-100">
        <div class="flex flex-column">
        <div class="flex">
        <div class="marright6 topicheading" >India Today</div>
        <div>@Indiatoday</div>

    </div>
        <div class="postdescription">
            <div>வாக்குச்சீட்டுகளை விட வாக்குப்பதிவு எந்திரங்கலே பாதுகாப்பானது - மணி, மூத்த பத்திரிகையாளர்
            </div>
            <div class="postimg"><iframe width="560" height="315" src="https://www.youtube.com/embed/s5o-4s_2AcM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="inlineblock"></iframe></div>
        </div>
        <div class="flex spacebetween pad10">
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
            
                <div class="marright6">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
                
            <div class="marright6">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            </div>
        </div>

        <div><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
    </div>
</div>
</div>
</div>

<div class="middle1">

    <div class="middlesections">
    <div class="flex">
        <div>
        <div class="imgleft"><img src="https://files.magzter.com/resize/magazine/India%20Today/1559312672/view/1.jpg"></div>

    </div>
    <div class="flex spacebetween wid-100">
        <div class="flex flex-column">
        <div class="flex">
        <div class="marright6 topicheading">India Today</div>
        <div>@Indiatoday</div>

    </div>
        <div class="postdescription">
            <div>BJP has already lost the election both mentally and physically as it appears from the words of PM Modi", says TMC's Sukhendu Sekhar Roy to 
            @prema_rajaram
             
            
            #WestBengalElections #TMC #BJP #PMModi #ReporterDiary 
            
            More Videos: http://bit.ly/IndiaTodaySocial
            </div>
            <div class="postimg"><img src="https://s3-ap-southeast-1.amazonaws.com/engpeepingmoon/041019031925bahubali.jpg" class="inlineblock"></div>
        </div>
        <div class="flex spacebetween pad10">
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
            
                <div class="marright6">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
                
            <div class="marright6">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
                <div> 
                    2
                </div>
            </div>
            
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </div>
                <div> 
                    2
                </div>
            </div>
            </div>
        </div>

        <div><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
    </div>
</div>
</div>
</div> -->
<div class="middle1" *ngFor="let list of dataa;index as i" >

    <div class="middlesections">
    <div class=" flex">
        <div>
        <div class="imgleft"><img src={{list.user.profile_image_url}}></div>

    </div>
    <div class="flex spacebetween wid-100">
        <div class="flex flex-column">
        <div class="flex">
        <div class="marright6 topicheading" >{{list.user.name}}.</div>
        <div class="marright6" style="margin-top: 5px;">@{{list.user.screen_name}}</div>
        <div class="marright6" style="margin-top: 5px;">{{list.created_at | date:'MMM d'}}</div>

    </div>
        <div class="postdescription">
            <div>{{list.full_text}}
            </div>
            <!-- <div></div> -->
            <div class="postimg" *ngIf="list.entities.media"><img src={{list.entities.media[0].media_url}}></div>
            
        </div>
        <div class="flex spacebetween pad10">
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </div>

                <div> 
                    
                </div>
            </div>
            
            <div class="flex">
            
                <div class="marright6">
                    <i class="fa fa-retweet" aria-hidden="true"></i>

                </div>
                <div> 
                    {{list.retweet_count}}

                </div>
            </div>
            
            <div class="flex">
                
            <div class="marright6">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
                <div> 
                    {{list.favorite_count}}

                </div>
            </div>
            
            <div class="flex">
                <div class="marright6"> 
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </div>
                <div> 

                </div>
            </div>
            </div>
        </div>

        <div><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
    </div>
</div>
</div>
</div>
</div>