.textbold {
    font-weight: 600;
}
.innermiddle {
    justify-content: space-between;
    border-bottom:1px solid rgb(235, 238, 240) ;
}
.imgleft img {
    width: 48px;
    border-radius: 50%;
    height: 48px;
    margin-right: 12px;;
}
.middletext {
    color:rgb(91, 112, 131);
    font-size: 20px;
    margin-bottom: 20px;
}
.paddingleft16 {
    padding-left: 16px;
}
.paddingright16 {
    padding-right: 16px;
}
.middlesections {
    margin-top: 10px;
    margin-bottom: 10px;
}
.postdescription {
    line-height: 1.6em;
    padding-top: 10px;
}
.postdescription img {
    width: 100%;
    display: inline-block;
}
.middle1 {
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid rgb(235, 238, 240);
    margin-top: 20px;
}
.pad10 {
    padding: 10px;
}
.postimg {
    margin-top: 10px;
}
.inlineblock {

    width: 100%;
    display: inline-block;
}
.postimg img ,.postimg iframe{
    border-radius: 6%;
}
.green {
    color: rgb(23, 191, 99);
}
.red {
    color: #E0245E;
}
.tweetbtn {
    padding:10px;
    border-radius: 999px;
    background: #1DA1F2;
    color: white;
    font-weight: 600;
    border: transparent;
    margin-right: 20px;
}
.border0 {
    
    border-bottom: 1px solid rgb(235, 238, 240);
    padding-bottom:10px;
}
.btnbtn {
    margin-top: 11%;
}
.gap {
    background-color: rgb(247, 249, 250);
    height: 12px;
}
